.example-card {
  width: 300px;
  display: flex;
  margin-bottom: 20px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}
.card-section {
  padding-top: 30px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-content {
  text-align: center;
}
.addBtn {
  margin-right: 5px;
}
.example-card img {
  object-fit: cover;
}
.container-img {
  width: 300px;
  height: 300px;
}
