.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.nav-links {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}
.nav-links a {
  padding-right: 3rem;
  color: white;
  text-decoration: none;
}
.shop {
  display: flex;
  flex: 5 1 auto;
}
.dark {
  background-color: #424242;
  width: 100%;
  min-height: 100vh;
  transition: 0.4s ease-in;
  color: white;
}
.light {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  transition: 0.4s ease-out;
  color: black;
}
