.navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.nav-links {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}
.nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
}
.shop {
  display: flex;
  flex: 5 1 auto;
}
